.flex {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex div {
    width: 150px;
    height: 150px;
    padding: 50px 0;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    background: #19f;
    color: #fff;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}
.flex div h3{
    font-size: 20px;
}

.wow_ex1{
    color: red;
    font-weight: 700;
    text-align: center;
}
.wow_ex2{
    background-color: #19f;
    height: 500px;
    width: 800px;
    margin-top: 50px;
}
.wow_ex3{
    background-color: red;
    height: 500px;
    width: 800px;
    margin-top: 50px;
}
.wow_ex4{
    background-color: gold;
    height: 500px;
    width: 800px;
    margin-top: 50px;
}
.wow_ex5{
    background-color:green;
    height: 500px;
    width: 800px;
    margin-top: 50px;
}
.wow_ex6{
    background-color: rgb(176, 255, 17);
    height: 500px;
    width: 800px;
    margin-top: 50px;
}

